@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=InaiMathi&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  max-width: 375px;
  max-height: 8000px;
  display: grid;
  grid-template-columns: 1fr;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a:hover {
  color: goldenrod;
}

/* header dimensions */
.header {
  left: 0;
  top: 0;
  background: #3e3a39;
  width: 375px;

  /* header flexbox */
  display: flex;
  justify-content: space-between;
}

/* menu button */
.header img {
  margin: 62px 35px 18px 0;
}

/* name class */
.name {
  position: static;
  width: 77px;
  height: 24px;
  left: 12px;
  top: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 56px 0 12px 24px;
  color: #fff;

  /* name  flexbox */
  display: flex;
  align-items: center;
}

/* name class flex item */
.name a {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.content {
  width: 375px;
  padding: 120px 24px;
  background: #1c1a19;
  background-image: url('image/Illustration.png');
  background-repeat: no-repeat;
  background-position: 229px 225px;
}

/* paragraph one in section style */
.one {
  position: static;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 120px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #f55800;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0 12px 0;
}

/* paragraph two in section style */
.two {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  margin: 0;

  /* paragraph two in section flexbox */
  display: flex;
  align-items: center;
}

/* paragraph three in section style */
.three {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0 0 0;
}

/* main socials dimensions */
.socials {
  width: 214px;
  margin: 24px 0 0 0;

  /* main socials flexbox */
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

/* list items size */
.social {
  font-size: 20px;
}

/* heading flexbox container */
.title {
  position: static;
  width: 327px;
  height: 83px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  margin: 120px 24px 0;
}

/* heading items */
.title h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;

  /* margin: 24px 0px; */
}

/* divider line below title */
.divider {
  width: 327px;
  height: 0;
  left: 0;
  border: 1px solid #212121;
  flex: none;

  /* order: 1; */
  flex-grow: 0;
  margin: 24px 24px 0;
}

/* first image under recent works */
.gymfit {
  position: static;
  width: 327px;
  height: 237px;
  margin: 80px 24px 0;
}

/* all cards */
.card {
  margin: 24px 24px 0;
}

/* all card works */
.works {
  max-height: 3455px;
}

._works {
  position: relative;
  width: 327px;
  height: 386px;
  background-image: url('image/Img_Placeholder.png');
}

.right_block {
  margin: 76px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  position: absolute;
  width: 327px;
  height: 248px;
  order: 0;
}

.title_post {
  color: #fff;
  position: static;
  width: 295px;
  height: 81px;
  left: 16px;
  top: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0 12px 0;
}

.supporting_text {
  position: static;
  width: 295px;
  height: 87px;
  left: 16px;
  top: 101px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0;
}

.tags {
  order: 2;
  list-style: none;
  position: static;
  width: 236px;
  height: 40px;
  margin: 12px 72px 0 0;
}

.it {
  padding: 10px 12px;
  position: static;
  width: 56px;
  height: 40px;
  left: 0;
  top: 0;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
  margin: 0 0 0 12px;
}

._1 {
  width: 56px;
  height: 40px;
  padding: 10px 12px;
  margin-left: 0;
}

._2 {
  position: static;
  width: 95px;
  height: 40px;
}

._3 {
  position: static;
  width: 61px;
  height: 40px;
}

.action {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 327px;
  height: 48px;
  left: 0;
  top: 338px;
  background: #ff6b00;
}

.act {
  margin: 0;
}

/* all lists */
.list_ {
  display: flex;
  align-items: center;
  list-style: none;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

/* all list items */
.item {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  margin: 12px 12px 0 0;
}

/* all headings */
.heading {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
}

.h1 {
  position: static;
  width: 327px;
  height: 36px;
  left: 0;
  top: 0;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 12px 0 0;
}

.h2 {
  margin: 0;
}

/* all paragraphs */
.paragraph {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.p1 {
  width: 327px;
  height: 147px;
  left: 0;
  top: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

/* all see project */
.see_project {
  position: static;
  left: 12px;
  top: 12px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

/* all buttons */
button {
  position: absolute;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  margin: 12px 0 0 0;
  border: 0;
}

button:disabled {
  background: #f4f1f0;
  color: grey;
}

button::after {
  background: #e05304;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
  color: #f55800;
}

button:enabled {
  background: #f55800;
}

/* all about me section styling */
.about_me {
  margin: 120px 0 0 0;
  background: black;
  padding: 0 0 0 24px;
  background-image: url('image/Frame.png');
  background-repeat: no-repeat;
  background-position: 227px 360px;
}

.H {
  position: static;
  width: 327px;
  height: 79px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 120px 0 0 0;
}

.p3 {
  height: 148px;
}

.resume {
  position: static;
  width: 161px;
  height: 48px;
}

.d1 {
  margin: 209px 0 0 0;
  border: 1px solid #fff;
}

.Frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.frame {
  display: flex;
  align-items: center;
}

._30 {
  width: 225.46px;
  height: 41.46px;
  padding: 8px 12px;
}

._35 {
  position: static;
  width: 225.46px;
  height: 281.46px;
  left: 51.77px;
  top: 120px;
  margin: 128px 53.4px 0;
  color: white;
}

.language {
  flex: none;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  width: 164px;
  height: 24px;
  display: flex;
  align-items: center;
  left: 37.64px;
  top: 0.73px;
  margin: 0 12px;
}

._29 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  position: static;
  width: 186px;
  height: 216px;
  left: 19.73px;
  top: 65.46px;
  margin: 12px 0;
}

.Item {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 12px;
}

._34 {
  position: static;
  width: 281px;
  height: 336px;
  left: 24px;
  margin: 0 23px;
}

._33 {
  position: static;
  width: 169px;
  height: 336px;
  margin: 50px 0 0 80px;
}

._31 {
  position: static;
  width: 281px;
  height: 40px;
  margin: 18px;
  padding: 8px 12px;
}

.frameworks {
  position: static;
  width: 227px;
  height: 24px;
  left: 42px;
  top: 8px;
  margin: 0 32px;
}

.skills {
  position: static;
  width: 115px;
  height: 24px;
  left: 42px;
  top: 8px;
  margin: 20px;
}

._32 {
  position: static;
  width: 169px;
  height: 40px;
  left: 0;
  top: 0;
  margin: 0 79px;
}

/* form */
.form_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  position: relative;
  width: 375px;
  height: 845px;
  left: 0;
}

.form_text {
  position: static;
  width: 327px;
  height: 216px;
  left: 0;
  top: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.form {
  margin-top: 73px;
}

.form_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: static;
  width: 327px;
  height: 330px;
  left: 24px;
  top: 394px;
}

.form_item {
  position: static;
  left: 0%;
  right: 0%;
  bottom: 85.45%;
  width: 100%;
  padding-bottom: 16px;
  padding-left: 16px;
  border-bottom: 1px solid #dbd8d7;
  margin-top: 39px;
}

.form input {
  border: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.msg {
  padding: 12px;
  vertical-align: top;
  margin-top: 39px;
  width: 327px;
  height: 114px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.form_btn {
  margin-top: 24px;
}

.social_media {
  border-top: 1px solid #dfe1e6;
  padding: 30px 0;
  margin-top: 124px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.itm a {
  color: #505f79;
  font-size: 30px;
}

.itm:hover a {
  color: #e05304;
}

.bottom {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom .itm:not(:last-child) {
  margin-right: 20px;
}
