@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  max-width: 375px;
  max-height: 8000px;
  display: grid;
  grid-template-columns: 1fr;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a:hover {
  color: goldenrod;
}

/* header dimensions */
.header {
  left: 0;
  top: 0;
  background: #3e3a39;

  /* header flexbox */
  display: flex;
  justify-content: space-between;
}

/* menu button */
.header img {
  margin: 62px 35px 18px 0;
}

/* name class */
.name { 
  position: static;
  width: 77px;
  height: 24px;
  left: 12px;
  top: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 56px 0 12px 24px;
  color: #fff;

  /* name  flexbox */
  display: flex;
  align-items: center;
}

/* name class flex item */
.name a {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.content {
  padding: 120px 24px;
  
  background: #1c1a19;
  background-image: url('image/Illustration.png');
  background-repeat: no-repeat;
  background-position: 229px 225px;
}

/* paragraph one in section style */
.one {
  position: static;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 120px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #f55800;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0 12px 0;
}

/* paragraph two in section style */
.two {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  margin: 0;

  /* paragraph two in section flexbox */
  display: flex;
  align-items: center;
}

/* paragraph three in section style */
.three {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0 0 0;
}

/* main socials dimensions */
.socials {
  width: 214px;
  margin: 24px 0 0 0;

  /* main socials flexbox */
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

/* list items size */
.social {
  font-size: 20px;
}

/* heading flexbox container */
.title {
  position: static;
  width: 327px;
  height: 83px;
  left: 0px;
  top: 0px;


  display: flex;
  align-items: center;
  margin: 120px 24px 0px;
}

/* heading items */
.title h4 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  
  color: #1C1A19;

  flex: none;
  order: 0;
  flex-grow: 0;
  /* margin: 24px 0px; */
}

/* divider line below title */
.divider {
  width: 327px;
  height: 0;
  left: 0;
  border: 1px solid #212121;

  flex: none;
  /* order: 1; */
  flex-grow: 0;
  margin: 24px 24px 0px;
}

/* first image under recent works */
.gymfit {
  position: static;
  width: 327px;
  height: 237px;
  margin: 80px 24px 0px;
}

/* all cards */
.card {
  margin: 24px 24px 0px;
}

._ {
  background-image: url('image/Img\ Placeholder\ _1.png');
  background-repeat: no-repeat;

  width: 327px;
  height: 386px;
  color: white;
  padding: 84px 0px 0px 0px;
}

/* all lists */
.list_ {
  display: flex;
  align-items: center;
}

.l1 {
  margin: 0px 0px 22px 16px;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

/* all list items */
.item {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  display: flex;
  align-items: center;
  padding: 10px 12px;
  background: #FFFFFF;

  border: 1px solid #8993A4;
  box-sizing: border-box;
  margin: 12px 12px 0px 0px;

}

.i {
  background: rgba(255, 255, 255, 0.24)
}

/* all headings */
.heading {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;

  display: flex;
  align-items: center;
}

.h1 {
  position: static;
  width: 327px;
  height: 36px;
  left: 0px;
  top: 0px;

  color: #091E42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px 0px 0px;
}

.h2 {
  margin: 0px;
}

/* all paragraphs */
.paragraph {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.p1 {
  width: 327px;
  height: 147px;
  left: 0px;
  top: 48px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

/* all see project */
.see_project {
  position: static;
  left: 12px;
  top: 12px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #FFFFFF;
}

.sp1 {
  margin: 0px;
}

.sp2 {
  width: 161px;
}

/* all buttons */
button {
  position: absolute;
  width: 124px;
  height: 48px;
  background: #f55800;

  margin: 12px 0px 0px 0px;
}

/* all orange stips */
.strip {
  background: #f55800;
  display: flex;
  justify-content: center;
  
  width: 327px;
  height: 48px;
}

.about_me {
  margin: 120px 0px 0px 0px;
  background: black;
  padding: 0px 0px 0px 24px;

  background-image: url('image/Frame.png');
  background-repeat: no-repeat;
  background-position: 227px 360px;
}

.H {
  position: static;
  width: 327px;
  height: 79px;
  
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  
  letter-spacing: 0.37px;
  
  color: #FF6B00;

  margin: 120px 0px 0px 0px;
}

.p3 {
  height: 148px;
}

.d1 {
  margin: 209px 0px 0px 0px;
  border: 1px solid #FFFFFF
}